<h1>
Attribute Directives
</h1>
<h2>ngClass / ngStyle</h2>
<!-- With Directives -->
<div [ngClass]="{border: true, background: true}"></div>
<div [ngStyle]="{'background-color': 'red'}"></div>
<!-- With Property Binding -->
<div [class.background]="true"></div>
<hr>
<!-- Custom Attribute Directives -->
<h2> Custom Attribute Directives</h2>
<div highlight [highlightColor]="'blue'" [defaultColor]="'red'">Highlight Me</div>
<hr>

<h1> Structural Directives</h1>
<h2>*ngIf</h2>
<div *ngIf="switch">Conditional Text</div>
<button (click)="onSwitch()">Switch</button>

<hr>
<h2>*ngFor</h2>
    <ul>
        <li *ngFor="let item of items; let idx = index">{{ item }} | (Index: {{ idx }})</li>
    </ul>